:root {
  --registration-modal-height: 40vh;
  --registration-modal-width: 40vw;
}

.auth_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30vh;
  bottom: 30vh;
  left: 30vw;
  right: 30vw;
  height: 40vh;
  width: 40vw;
  border: 1px solid lightgray;
}

.auth_modal_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth_modal_field {
  display: flex;
  flex-direction: column;
  margin: 1vh;
  width: 15vw;
}
.auth_modal_label {
  margin-bottom: 1vh;
}

.auth_modal_buttons {
  margin-top: 1vh;
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;
  cursor: pointer;
}

.modal_exit {
  position: absolute;
  bottom: calc(0.88 * var(--registration-modal-height));
  left: calc(0.93 * var(--registration-modal-width));
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.3;
  cursor: pointer;
}

.modal_exit:hover {
  opacity: 1;
}
