.product_card {
  min-height: 400px;
  max-height: 400px;
  max-width: 200px;
  min-width: 200px;
}

.product_card_image {
  display: flex;
  align-items: center;
  height: auto;
  width: 200px;
  position: relative;
  border-radius: 5px;
}

.product_card_date {
  font-weight: 350;
  letter-spacing: normal;
  text-align: inherit;
  text-transform: none;
  text-decoration: none;
  font-size: 11px;
  line-height: 14px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2px;
}

.product_card_info {
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 170px;
}
.product_card_title_size {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.product_card_description {
  overflow: hidden;
}

.product_card_favorite {
  position: relative;
  left: 172px;
  bottom: 28px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.product_card_info > p {
  margin-bottom: -10px;
}
