.product_card {
  height: 20%;
  width: 32%;
  max-width: 250px;
}

.product_card_image {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  overflow: hidden;
  padding-top: 120%;
  position: relative;
}

.product_card_date {
  font-weight: 400;
  letter-spacing: normal;
  text-align: inherit;
  text-transform: none;
  text-decoration: none;
  font-size: 10px;
  line-height: 14px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  padding: 6px 0 6px 8px;
}
