.sell_page {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 5vh;
  max-width: 100%;
}

.sell_page_product_form {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.sell_page_input_field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.sell_page_image_form {
  display: grid;
  max-width: 60vw;
  grid-template-columns: repeat(4, auto);
}

.sell_page_preview_area {
  width: 200px;
  height: 300px;
  background-color: hsl(0, 1%, 63%);
  border-radius: 5px;
}

.sell_page_input_overlay {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  position: relative;
  bottom: 190px;
  left: 80px;
  z-index: 0;
  font-size: 100px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 40px;
}
.sell_page_image_input {
  position: absolute;
  background-color: red;
  bottom: 375px;
  width: 200px;
  height: 300px;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
